.done{
  color: green;
}
.nested-fields{
  display: inline;
}
#members,
#goals,
#tasks{
  border-radius: 5px;
  background-color: #ffd;
  padding: 0 10px 15px 10px;
}
.inline{
  display: inline;
}

#project li{
  background-color: #eee;
  padding: 5px;
  border-top: 1px solid black;
  list-style: none; 
}
#project li:last-child{
  border-bottom: 1px solid black;
}